@model _1_FirstEF.Models.ProductsModel



<h4>@Model.Head</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Products.Id" />

            <div class="form-group">
                <label asp-for="Products.ProductName" class="control-label"></label>
                <input asp-for="Products.ProductName" class="form-control" />
                <span asp-validation-for="Products.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Price" class="control-label"></label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select name="Products.CategoryId" class="form-control">

                    @foreach (var item in Model.Categories)
                    {
                        if (item.Id != Model.Products.Id)
                        {
                            <option value="@item.Id">@item.CategoryName</option>
                        }
                        else
                        {
                            <option selected value="@item.Id">@item.CategoryName</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.Text" class="@Model.Cls" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List" class="btn btn-warning">Cancel</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
