
@{
    ViewData["Title"] = "Contact";
}

<h3>Web Master Bilgileri ViewBag-1</h3>
<p>@ViewBag.Id</p>
<p>@ViewBag.Ad</p>
<p>@ViewBag.Soyad</p>
<p>@ViewBag.Mail</p>

<h3>Web Master Bilgileri ViewBag-2</h3>
<p>@ViewBag.Webmaster.Id</p>
<p>@ViewBag.Webmaster.Ad</p>
<p>@ViewBag.Webmaster.Soyad</p>
<p>@ViewBag.Webmaster.Mail</p>



